# Framework web
fastapi==0.115.2
uvicorn==0.30.6

# LangChain núcleo
langchain==0.0.285
langchain-openai==0.0.2

# OpenAI
openai==1.44.1

# Vectorstores y embeddings
faiss-cpu==1.8.0.post1

# Utilidades
python-dotenv==1.0.1
tiktoken==0.7.0